.signup {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 100vh;
}

.signup button:hover {
  cursor: pointer;
}

.form {
  align-items: center;

  width: 250px;
  display: flex;

  padding: 30px;
  flex-direction: column;
  border: 1px solid black;
}
.form h1 {
  font-weight: 500;
}

.form input {
  border: 1px solid black;
  border-radius: 6px;
  padding: 10px;

  width: 250px;
  margin: 10px;

  display: flex;
  flex-direction: column;
}

.textFields {
}
.signupContainer {
  display: flex;
  justify-content: center;
  width: 100%;
}

.signupButton {
  background-color: rgb(100, 100, 221);
  color: white;
  font-size: 18px;
  font-weight: bold;
  width: 100%;
  border-radius: 15px;
  border: none;
  padding: 10px 15px;
}

.loginButton {
  margin: 10px;
  width: 280px;
  padding: 10px 15px;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

.form.error {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
}

.forgetButtonContainer {
  text-align: center;
}

.forgetButton {
  margin: 5px;
  font-size: 16px;
  color: rgb(199, 65, 65);
  font-weight: bold;
  text-align: center;
  border: none;
}
.forgetButton:hover {
  cursor: pointer;
  color: rgb(224, 23, 23);
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 50px;
  height: 50px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
